.parent-src {
  position: relative;
  display: flex;
  align-items: center;
  width: 1000px;
  height: 800px;
  padding: 20px;
  margin: 7px;
}
.slides {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px grey;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.arrow-left:hover {
  cursor: pointer;
}
.arrow-right:hover {
  cursor: pointer;
}
.arrow-left {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  left: 1rem;
  filter: drop-shadow(0 0 5px grey);
  margin: 25px;
}
.arrow-right {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  right: 1rem;
  filter: drop-shadow(0 0 5px grey);
  margin: 25px;
}
.slide-hidden {
  display: none;
}
